<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="assets/CSS/output.css">
    <link rel="stylesheet" href="assets/CSS/suport.css">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'bg-blue-dark': '#2C3E50',
                        'dark-data': '#393939',
                        'placeholder': '#A0A0A0',
                        'bg': '#FCFCFF',
                        'blue-dark': '#1061FF',
                        'blue': '#349DFD',
                        'blue-table': '#002C9D',
                        'unselect': '#BAC5E7',
                        'stroke': '#81B7E9',
                        'tet': '#001458',
                        'tet-x': '#5A5A5A',
                    },
                    boxShadow: {
                        nav: '2px 3px 3px 1px rgba(0, 0, 0, 0.1);',
                        side: ' 0px 5px 10px rgba(0, 0, 0, 0.05);',
                        stable: ' 0px 3px 4px rgba(0, 0, 0, 0.25);',
                        box: ' 0px 4px 4px rgba(0, 0, 0, 0.25)',
                    },
                    screens: {
                        'lgs': '1150px',
                        'mds': '833px',
                        'vp-860': '860px'
                    },
                },
            }
        }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@600&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body style="background-image: url('Login\ 4-1.png'); margin: 0; padding: 0; background-repeat: no-repeat; background-size: cover;">

    <!-- container -->
    <div class="flex w-screen h-screen">
        <!-- kiri -->
        <div class="w-2/3  h-full ">
            <!-- nav -->
            <nav class="w-full flex items-center font-bold text-[#0E6EAB] justify-evenly h-[10%]">
                <!-- links -->
                <a class="hover:border-b-[3px] text-sm transition-all border-[#0E6EAB] bor font-[montserrat]" class="" href="">Dokumentasi</a>
                <a class="hover:border-b-[3px] text-sm transition-all border-[#0E6EAB] font-[montserrat]" href="">Peraturan</a>
                <a class="hover:border-b-[3px] text-sm transition-all border-[#0E6EAB] font-[montserrat]" href="">Contact</a>
            </nav>
            <!-- mid text -->
            <div class="h-2/3 flex items-center justify-center text-[#0968A8] w-full">
                <h1 class="text-4xl">
                    <span class="font-[quicksand] font-medium">Selamat datang di</span> 
                    <span class="font-[montserrat] font-semibold">STARBHAK</span> <br>
                    <span class="font-[poppins] font-semibold">Attendance</span>
                </h1>

            </div>
        </div>

        <!-- kanan -->
        <div class=" flex justify-center w-1/2 h-full ">
            
            <!-- inputan -->
            <div style="margin-top:25%;" class="w-3/4 h-3/4">

                <!-- judul -->
                    <div class="flex justify-end">
                        <span class="text-white font-[quicksand] text-lg font-bold">Log in</span>
                    </div>

                    <div class="flex justify-end">
                        <span class="text-white mt-3 font-[montserrat] text-2xl font-semibold">Selamat Pagi,Guru!</span>
                    </div>

                    <div class="flex justify-end">
                        <span class="text-white mt-2 font-[quicksand] text-sm font-normal">Silahkan Masukan akun yang sudah diberikan</span>
                    </div>
                    
                    <!-- input -->
                    <div class="h-fit flex justify-end w-full">
                        <input placeholder="Masukkan Username" class="border-b-[1px] placeholder:text-white pl-24 w-2/3 mt-5 text-white focus:outline-none bg-transparent" type="text">
                    </div>
                    <div class="h-fit flex justify-end w-full">
                        <input placeholder="Masukkan Password" class="border-b-[1px] placeholder:text-white pl-24 w-2/3 mt-5 text-white focus:outline-none bg-transparent" type="password">
                    </div>

                    <!-- button -->
                    <div class="w-full flex justify-end items-center  h-1/4 ">
                        <button class="font-[quicksand] text-white rounded font-bold w-2/3 h-1/3 border-[2px]">
                            Masuk
                        </button>
                    </div>


                    </div>

                    
                    

                    
            </div>

            </div>
        </div>
            
    </div>


</body>

</html>


<!-- npx tailwindcss -i ./src/input.css -o ./public/assets/css/output.css --watch -->