* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.bg {
    background-color: #349DFD;
    width: 100vw;
    height: 100vh;
}

.img {

    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.imgs {
    position: absolute;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    z-index: 1;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 70%;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.two {
    padding: 40px;
    width: 50%;
    height: 100%;
}

.line {

    background-color: #ffd600;
    width: 40px;
    border-radius: 10px;
    height: 4px;

}


.input1 {
    display:flex ;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    border: #b9b9b9 1px solid;
}

.input2{
    display:flex ;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    border: #b9b9b9 1px solid;
}

.input{
    padding-left: 10px;
    font-size: 20px;
    border: none;
    height: 30px;
    width: 100%;
}

.input:focus{
    outline: none;
}

button{
    margin-top: 50px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #349DFD;
    border: none;
}

button:hover{
    background-color: #428ae1;
}