* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.bg {
    background-color: #349DFD;
    width: 100vw;
    height: 100vh;
}

.img {

    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.imgs {
    position: absolute;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    z-index: 1;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 10px;
    width: 70vw;
    height: fit-content;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.one img{
    width: 85%;
    height: fit-content;
}

.two {
    margin-top: 3%;
    padding: 40px;
    width: 50%;
    height: 100%;
}

.line {

    background-color: #ffd600;
    width: 40px;
    border-radius: 10px;
    height: 4px;

}


.input1 {
    display:flex ;
    margin-top: 24px;
    padding: 6px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: #b9b9b9 1px solid;
}

.input2{
    display:flex ;
    margin-top: 24px;
    padding: 6px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: #b9b9b9 1px solid;
}

.input{
    padding-left: 10px;
    font-size: 16px;
    border: none;
    height: 30px;
    width: 25vw;
}

.input:focus{
    outline: none;
}

button{
    margin-top: 32px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #349DFD;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #428ae1;
}

.require{
    color: red; 
    font-weight: bold;
}

.alert{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: -2%;
    border-radius: 5px;
    background-color: #D21D26;
    color: white;
    font-weight: bold;
}

.success{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: -2%;
    border-radius: 5px;
    background-color: #22c55e;
    color: white;
    font-weight: bold;
}