@font-face {
    font-family: quicksands;
    src: url(../quicksand-v30-latin-regular.woff2);
}
* {
    transition: 0.1s;
}
body{
    font-family: quicksands;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background: #BAC5E7;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #349DFD;
    border-radius: 10px;
}
.web-hover:hover ::-webkit-scrollbar{
    background: white;
}
.web-hover:hover ::-webkit-scrollbar-thumb{
    background-color: #1061FF;
}
@keyframes uper {
    0%{left: 150%}
    100%{left: 75%}
}
.animated-up{
    animation-name: uper;
    animation-duration: 1s;
}
@keyframes downer {
    0%{left: 75%}
    100%{left: 150%}
}
.animated-down{
    animation-name: downer;
    animation-duration: 1s;
}



/* toggle */
.toggle-radio{
    position: absolute;
    top: 49%;
    right: 15%;
}
.switch {
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: #1991FF;
    transition: all 0.2s ease;
    border-radius: 25px;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
  }
  label[for=yes] {
    position: absolute;
    right: 0px;
    height: 20px;
}
label[for=no] {
    position: absolute;
    left: 0px;
  }
  #no:checked ~ .switch {
    background: #acacac;
  }
  #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yes:checked ~ .switch label[for=yes] {
    color: #fff;
  }
  #no:checked ~ .switch label[for=no] {
    color: #fff;
  }
  /* --- */